<html lang="en"><head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">
 
  <title>Edit the Post</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
  
  
  

body{
  margin: 0;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f5f8fa;
}

.navbar-laravel
{
  box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
  font-family: Raleway, sans-serif;
}

.my-form
{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.my-form .row
{
  margin-left: 0;
  margin-right: 0;
}

.login-form
{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.login-form .row
{
  margin-left: 0;
  margin-right: 0;
}    </style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  
</head>
<body>
  
  
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Fonts -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">



  <link rel="icon" href="Favicon.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <title>Laravel</title>



<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
  <div class="container">
  <a class="navbar-brand" href="/">Unlock Class</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
          </li>
          
      </ul>

  </div>
  </div>
</nav>
<form action="/post/{{sno}}/" method="POST" name="my-form">
<main class="my-form">
  <div class="cotainer">
      <div class="row justify-content-center">
          <div class="col-md-8">
                  <div class="card">
                      <div class="card-header">Add New Post</div>
                      <div class="card-body">
                         
                              <div class="form-group row">
                                  <label for="title" class="col-md-4 col-form-label text-md-right">Title</label>
                                  <div class="col-md-6">
                                      <input type="text" id="title" class="form-control" name="title" value="{{post.title}}" required> 
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label for="tagline" class="col-md-4 col-form-label text-md-right" >Tagline</label>
                                  <div class="col-md-6">
                                      <input type="text" id="tagline" class="form-control" name="tagline" value="{{post.tagline}}" required>
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label for="content" class="col-md-4 col-form-label text-md-right">Content</label>
                                  <div class="col-md-6">
                                      <textarea name="content" id="content" cols="50" rows="10" required>{{post.content}}</textarea>
                                  </div>
                              </div>

                                                        
                                  <div class="col-md-6 offset-md-4">
                                      <button type="submit" class="btn btn-primary">
                                      Submit
                                      </button>
                                  </div>
                              </div>
                          
                      </div>
                  </div>
          </div>
      </div>
  
      </main>
  </form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      
      
       

</body></html>
